/* stylesheet for Classic Finishing Designs */

:root {
    --bg-image: url("../images/background-image-3.jpg");
}

/*
body {
    background-image: url("../images/background-image-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}  */

/* Id's */    

#hero {
    position: relative;
    height: 60rem;
    &::before {
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        background-image: url("../images/background-image-3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.65;
    }
}

#hero-br {
    position: relative;
    height: 60rem;
    &::before {
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        background-image: url("../images/background-image-5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.65;
    }
}

#choice {
    position: relative;
    min-height: 45rem;
    &::before {
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        background-image: var(--bg-image);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.65;
    }
}

#hero h2, #hero-br h2 {
    padding-top: 2rem;
    font-weight: 600;
}

#the-margin {
    margin-top: 15%;
}

#horizontal {
    width: 80%
}

/* Classes */

.above-opacity {
    position: relative;
}

.navbar {
    line-height: 3em;
}

.lead, .display-4, .display-6 {
    font-weight: 400;
}

.display-1 {
    font-weight: 700;
}

.link-button {
    min-width: 15rem;
    max-width: 20rem;
    font-size: 3em;
    line-height: 2em;
    border-radius: 25px;
}

.thick-border, .thick-border:hover {
    border: 10px solid black;
}
.thick-border:hover, scale:hover {
    scale: 1.05;
}

.marketing {
    width: 80%;
    margin-left: 10%
}

.btn-lg {
    font-size: 6em;
    line-height: 2em;
    width: 6em;
    border-radius: 60px;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
    .btn-lg {
    
        font-size: 4em;
        width: 5em;
        border-radius: 40px;
    }

    .d-flex {
        display: block !important;
        text-align: center !important;
    }

}

@media only screen and (max-width: 991px) {
    .less-margin {
        margin-top: 0.5rem !important;
        margin-bottom: 1.5rem !important;
    }
    #the-margin{
        margin-top: 0;
    }
}

@media only screen and (max-width: 1400px) {
    .border-sm {
        border: 0 !important;
    }
}
